<p id="notice"><%= notice %></p>

<h1>Computer</h1>

<table>
  <thead>
    <tr>
      <th>Fqdn</th>
      <th>Benutzer</th>
      <th>Url</th>
      <th>Gruppe</th>
      <th>Standort</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.fqdn %></td>
         <td><%= computer.benutzer %></td>
        <td><%= computer.url %></td>
        <td><%= Gruppe.find(computer.gruppe_id).name %></td>
        <td><%= computer.standort %></td>
        <td>
            <%= link_to '<i class="bi bi-eye" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "show", :id => computer.id %>
        </td>
        <td>
            <%= link_to '<i class="bi bi-gear" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "edit", :id => computer.id %>
        </td>
        <td>
            <%= link_to '<i class="bi bi-trash" style="color:#000000;font-size:20pt" ></i>'.html_safe ,computer, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        
          
        </td>
        <td><%= link_to '<i class="bi bi-arrow-bar-up" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "url", :id => computer.id %></td>
        <td><%= link_to '<i class="bi bi-arrow-clockwise" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "neustart", :id => computer.id %></td>
        <td><%= link_to '<i class="bi bi-power" style="color:#000000;font-size:20pt" ></i>'.html_safe ,:controller => "computers", :action => "herunterfahren", :id => computer.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Computer', new_computer_path %>
