<p id="notice"><%= notice %></p>

<h1>Computer</h1>

<table>
  <thead>
    <tr>
      <th>Fqdn</th>
      <th>Url</th>
      <th>Gruppe</th>
      <th>Standort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.fqdn %></td>
        <td><%= computer.url %></td>
        <td><%= Gruppe.find(computer.gruppe_id).name %></td>
        <td><%= computer.standort %></td>
        <td><%= link_to 'Anzeigen', computer %></td>
        <td><%= link_to 'Bearbeiten', edit_computer_path(computer) %></td>
        <td><%= link_to 'Löschen', computer, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Computer', new_computer_path %>
