<%= form_with(model: gruppe) do |form| %>
  <% if gruppe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gruppe.errors.count, "error") %> prohibited this gruppe from being saved:</h2>

      <ul>
        <% gruppe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
