<p id="notice"><%= notice %></p>

<h1>Gruppen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gruppes.each do |gruppe| %>
      <tr>
        <td><%= gruppe.name %></td>
        <td><%= link_to 'Anzeigen', gruppe %></td>
        <td>
          <% # wenn die id der Gruppe ist ist darf diese nicht gelöscht werden, da es die Admin ID ist.%>
          <% if gruppe.id != 1 %>
            <%= link_to 'Bearbeiten', edit_gruppe_path(gruppe) %>
          <% end %>  
            </td>
        <td>
          <% # Wenn es noch Benutzer unter der Gruppe gibt, kann diese nicht gelöscht werden %>
          <% if User.where(gruppe_id: gruppe.id).count == 0 %>
           <% if gruppe.id != 1 %>
             <%= link_to 'Löschen', gruppe, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
           <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Gruppe', new_gruppe_path %>
