<!DOCTYPE html>
<html>
  <head>
    <title>DashboardViewController</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main role="main">
      <div id="content"> 
          <% if session[:user_id] != nil %>
            <%= render template: "layouts/navbar" %>
          <%end%>
          <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
    <div style="float:left"></div>

  </body>
</html>
